@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');
@import url(//db.onlinewebfonts.com/c/a575313c6dc4fd00c1a9506e1c3ea4fc?family=Euclid+Circular+A);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Euclid Circular A';
}